/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: Gabriola, sans-serif;*/
/*    font-size: 24px;*/
/*    text-decoration: none;*/
/*}*/

.header_up,
.header_down {
    min-width: 1200px;
    /*width: 100vw;*/
}

.header_up {
    height: 40px;
    background: #e0e0e0ff;
}

.header_down {
    background: #7e4726;
}

.header_up > nav {
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header_down > nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartAndCabinet {
    display: flex;
}

.categories_text {
    color: white;
    flex: 1 1 auto;
    text-align: center;
}

.categories_text:hover {
    background: #5b331b;
    text-decoration: underline;
}

/* nav:hover ~ .num1,
.extra:hover {
    display: block;
} */

.cat1:hover ~ .num1,
.num1:hover {
    display: block;
}

.cat2:hover ~ .num2,
.num2:hover {
    display: block;
}

.cat3:hover ~ .num3,
.num3:hover {
    display: block;
}

.cat4:hover ~ .num4,
.num4:hover {
    display: block;
}

.cat5:hover ~ .num5,
.num5:hover {
    display: block;
}

.cart_button,
.cabinet_button {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: large;
    color: #000000;
}

.cart_button:hover,
.cabinet_button:hover {
    background: #9d9d9d;
    color: #ffffff;
}

#cart-num {
    display: flex;
    width: 26px;
    height: 26px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #cb6800;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #000000;

    height: 100%;

}

.logo:hover {
    color: #7e4726;
}

.extra {
    margin: 0 auto;
    width: 1200px;
    position: absolute;
    display: none;
    left: 50%;
    transform: translate(-50%);
    top:81px;
    background-color: #c07f59;

    border-radius: 0 0 5px 5px;
    padding: 20px 30px;
}

.extraMenu {
    display: flex;
    gap: 50px;
}

.extraMenuItem {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 auto; */
    width: 33%;
    padding: 0 0 0 20px;
    border-left: #ffffff solid 1px;
}

.extra a {
    color: #ffffff;
}

.extra a:hover {
    opacity: 0.5;
}

.nameOfSubCategory {
    font-weight: 600;
    letter-spacing: 0.2em;
}
