.products {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    width: 100%;
    flex-wrap: wrap;
}

.product {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
    /*max-height: 600px;*/
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #0000001F;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000020;
    background-color: white;
}

.product_image {
    width: 100%;
    height: 60%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.product_image a {
    display: inherit;
    height: 100%;
}

.mini_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;

    box-shadow: 0 0 10px #00000010;
    background-color: #ececec;
}

.product_info {
    display: flex;
    width: 100%;
    height: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    word-wrap: break-word;

}


.product_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    color: #49832d;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

.product_name:hover{
    text-decoration: underline;
}

.product_price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    height: 30%;
}

.product_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 15%;
}

.product_btn_left {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
}

.product_btn_right {
    width: 50%;
    border-bottom-right-radius: 5px;
}

.product_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background: #b06436;
    cursor: pointer;
    font-size: 25px;
    color: #ffffff;
    outline: 1px solid #c07f59;
}
.mini_left_button{
    border-bottom-left-radius: 5px;
}

.product_button:hover {
    background: #9d592f;
}

.product_count {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 30%;
    height: 100%;
    color: #ffffff;
    outline: 1px solid #c07f59;
    background-color: #c07f59;
}

.card-btn {
    display: flex;
    width: 35%;
    font-size: 35px;
    /*padding: 0;*/
}

.category_name {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    font-size: 25px;
}

.name {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

.product_btn {
    display: flex;
    width: 100%;
    font-size: 24px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.product_page {
    box-shadow: 0 0 10px #00000020;
    display: flex;
    width: 100%;
    min-height: 600px;
    flex-direction: column;
    margin: 50px;
    /*padding: 15px;*/
}

.product_title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 30px;
}

.product_title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product_author {
    font-size: 20px;
}
.product_author a {
    color: black;
    text-decoration: none;
    font-size: 20px;

}

.product_author a:hover{
    text-decoration: underline;
}


.product_page_info_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15%;
    text-align: center;
    width: 100%;
}
.product_page_area {
    box-shadow: 0 0 10px #00000020;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    height: 700px;
}


.product_image_container {
    width: 50%;
    height: 100%;
}
.product_name_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85%;
}
.info_of_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.product_cart_buttons div {
    font-size: 35px;
}
.product_page_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 100%;
    /*height: 15%;*/
}
.product_page_btn_left {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    justify-content: space-between;

}

.product_page_btn_right {
    width: 50%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
.product_page_mini_left_button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.product_page_cart_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*height: 100%;*/

    justify-content: center;

}
.price_text_container span {
    font-size: 36px;
}

